# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Otomatik oluşan inventory
inventory.ini inventory.yaml inventory*.yaml

# Crash log files
crash.log
crash.*.log
